---
const { title } = Astro.props;
import '../styles/global.css';
---
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h1>{title}</h1>
    <article>
      <slot />
    </article>
  </body>
  <style>
    h1 {
      font-size: 2rem;
    }
  </style>
</html>